---
import Layout from '../layouts/Layout.astro';
import Container from '../components/FullScreenContainer.astro'
---

<Layout 
title="Digital Playground of Jackie Ho"
description="This is the description of the page">
	<main slot="main">
		<Container title="hello" subheader="hello2" CTA="View Projects" CTALink="/test" />
	</main>
</Layout>

<style>

</style>

<script>
</script>